web_project/images.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="images">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="animalImgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="rating"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="funnyImgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="rating"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="medImgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="rating"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="memeImgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="rating"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="polImgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="rating"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="relImgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="rating"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sportImgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="rating"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
